{% extends "base.html" %}
{% block content %}
<h1>Add new Pokémon</h1>

<form>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>Number</label>
        <input class="form-control" type="text">
    </div>
    <!-- Check boxit?-->
    <div class="form-group">
        <label>Type</label>
        <input class="form-control" type="text">
    </div>
    <p>Abilities</p>
    <div class="form-group">
        <label>Ability 1</label>
        <input class="form-control" type="text">
        <label>Ability 2</label>
        <input class="form-control" type="text">
        <label>Ability 3</label>
        <input class="form-control" type="text">
    </div>
    <p>Base Stats</p>
    <div class="form-group">
        <label>Hp</label>
        <input class="form-control" type="text">
        <label>Attack</label>
        <input class="form-control" type="text">
        <label>Defense</label>
        <input class="form-control" type="text">
        <label>Special Attack</label>
        <input class="form-control" type="text">
        <label>Special Defense</label>
        <input class="form-control" type="text">
        <label>Speed</label>
        <input class="form-control" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
{% endblock %}