{% extends "base.html" %}
{% block content %}
<h1>Glaceon #471</h1>
<p>
    <a href="{{base_path}}/mypokemon/1" class="btn btn-success">Add to your list</a>
</p>
<p>Type:</p>
<ul>
    <li>Ice</li>
    <li>-</li>
</ul>
<p>Abilities:</p>
<ul>
    <li>Snow Cloak</li>
    <li>Ice Body</li>
    <li>-</li>
</ul>
<p>Base Stats:</p>
<ul>
    <li>HP:65</li>
    <li>Attack:60</li>
    <li>Defense:110</li>
    <li>Special Attack:130</li>
    <li>Special Defense:95</li>
    <li>Speed:65</li>
</ul>
<!-- 
<p>
    Moves:
</p>
<ul>
    <li>Helping Hand</li>
    <li>Tackle</li>
    <li>...</li>
</ul>
-->
{% endblock %}