{% extends "base.html" %}
{% block content %}
<h1>Rika (Editointi sivu samaan?)</h1>
<h2>Glaceon #471</h2>
<p>Gender: ♀</p>
<p>Type:</p>
<ul>
    <li>Ice</li>
    <li>-</li>
</ul>
<p>Nature: Modest</p>
<p>Shiny: No</p>
<p>Level: 100</p>
<p>Ability: Snow Cloak</p>
<p>
    Moves:
</p>
<ul>
    <li>Ice Beam</li>
    <li>Sleep Talk</li>
    <li>-</li>
    <li>-</li>
</ul>
<p>Item: Choice Specs</p>
<p>Stats:</p>
<ul>
    <li>HP:334</li>
    <li>Attack:112</li>
    <li>Defense:256</li>
    <li>Special Attack:394</li>
    <li>Special Defense:226</li>
    <li>Speed:167</li>
</ul>
<p>EVs:</p>
<ul>
    <li>HP:252</li>
    <li>Attack:0</li>
    <li>Defense:0</li>
    <li>Special Attack:252</li>
    <li>Special Defense:0</li>
    <li>Speed:4</li>
</ul>
<p>IVs:</p>
<ul>
    <li>HP:31</li>
    <li>Attack:0</li>
    <li>Defense:31</li>
    <li>Special Attack:31</li>
    <li>Special Defense:31</li>
    <li>Speed:31</li>
</ul>
<p>Hidden Power: ???</p>

{% endblock %}