{% extends "base.html" %}
{% block content %}
<h1>Add new species to database</h1>

<form method="post" action="{{base_path}}/species/add">
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Pokédex number</label>
        <input name="number" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Primary type</label>
        <select name="primary">
            <option value=999>-</option>
            <option value=1>Normal</option>
            <option value=2>Fighting</option>
            <option value=3>Flying</option>
            <option value=4>Poison</option>
            <option value=5>Ground</option>
            <option value=6>Rock</option>
            <option value=7>Bug</option>
            <option value=8>Ghost</option>
            <option value=9>Steel</option>
            <option value=10>Fire</option>
            <option value=11>Water</option>
            <option value=12>Grass</option>
            <option value=13>Electric</option>
            <option value=14>Psychic</option>
            <option value=15>Ice</option>
            <option value=16>Dragon</option>
            <option value=17>Dark</option>
            <option value=18>Fairy</option>        
        </select>
    </div>

    <div class="form-group">
        <label>Secondary type</label>
        <select name="secondary">
            <option value=999>-</option>
            <option value=1>Normal</option>
            <option value=2>Fighting</option>
            <option value=3>Flying</option>
            <option value=4>Poison</option>
            <option value=5>Ground</option>
            <option value=6>Rock</option>
            <option value=7>Bug</option>
            <option value=8>Ghost</option>
            <option value=9>Steel</option>
            <option value=10>Fire</option>
            <option value=11>Water</option>
            <option value=12>Grass</option>
            <option value=13>Electric</option>
            <option value=14>Psychic</option>
            <option value=15>Ice</option>
            <option value=16>Dragon</option>
            <option value=17>Dark</option>
            <option value=18>Fairy</option>        
        </select>
    </div>

    <div class="form-group">
        <label>Base hp</label>
        <input name="hp" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Base attack</label>
        <input name="attack" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Base defense</label>
        <input name="defense" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Base special attack</label>
        <input name="spattack" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Base special defense</label>
        <input name="spdefense" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Base speed</label>
        <input name="speed" class="form-control" type="text">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
{% endbloc