{% extends "base.html" %}
{% block content %}
<h1>Pokémon-haku</h1>

<form>
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" value="Gla" type="text">
    </div>

    <!-- Check boxit ? -->
    <div class="form-group">
        <label>Tyyppi</label>
        <input class="form-control" value="Ice" type="text">
    </div>

    <button type="submit" class="btn btn-primary">Hae</button>
</form>

<p>Search Result</p>
<ul>
    <li><a href="{{base_path}}/view/471">Glaceon</a></li>
    <li>Glalie</li>
</ul>
{% endblock %}