{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<h1>#{{species.pokedex_number}} {{species.species_name}}</h1>

<a href="{{base_path}}/mypokemon" class="btn btn-success">Add to your guys!</a>
<a href="{{base_path}}/species/{{species.pokedex_number}}/edit" class="btn btn-primary">Edit [Admin]</a>
<form method="post" action="{{base_path}}/species/{{species.pokedex_number}}/delete" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Delete [Admin]</button>
</form>

<p>Type: {% for type in species.types %}
    {{type}} 
    {% endfor %}</p>




<p>Base Stats:</p>
<ul>
    <li>HP: {{species.base_hp}}</li>
    <li>Attack: {{species.base_attack}}</li>
    <li>Defense: {{species.base_defense}}</li>
    <li>Special Attack: {{species.base_special_attack}}</li>
    <li>Special Defense: {{species.base_special_defense}}</li>
    <li>Speed: {{species.base_speed}}</li>
</ul>
<p>Abilities:</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit [Admin only]</th>
            <th>Delete [Admin only]</th>
        </tr>
    </thead>

    <tbody>
        {% for ability in species.abilities %}
        <tr>
            <td><a href="{{base_path}}/ability/{{ability.ability_name}}">{{ability.ability_name}}</td>
            <td>{{ability.description}}</td>
            <td><a href="{{base_path}}/ability/{{ability.ability_id}}/edit" class="btn btn-primary">Edit</a></td>
            <td><a href="{{base_path}}/ability/{{ability.ability_id}}/delete" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    Available moves: ei oo viel 
</p>
{% endblock %}