{% extends "base.html" %}
{% block content %}
{% for species in speciess %}
<div class="alert alert-success">
  {{message}}
</div>
<h1>#{{species.pokedex_number}} {{species.species_name}}</h1>
<p>
    <a href="{{base_path}}/mypokemon" class="btn btn-success">Add to your guys!</a>
    <a href="{{base_path}}/species/{{species.pokedex_number}}/edit" class="btn btn-primary">Edit [Admin only]</a>
    <a href="{{base_path}}/species/{{species.pokedex_number}}/delete" class="btn btn-danger">Delete [Admin only]</a>
</p>
<p>Type: {% for type in species.types %}
    {{type}} 
    {% endfor %}</p>

<p>Abilities: ei oo viel</p>

<p>Base Stats:</p>
<ul>
    <li>HP: {{species.base_hp}}</li>
    <li>Attack: {{species.base_attack}}</li>
    <li>Defense: {{species.base_defense}}</li>
    <li>Special Attack: {{species.base_special_attack}}</li>
    <li>Special Defense: {{species.base_special_defense}}</li>
    <li>Speed: {{species.base_speed}}</li>
</ul>

<p>
    Available moves: ei oo viel 
</p>
{% endfor %}
{% endblock %}