{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<h1>{{ability.ability_name}}
    {% if user_logged_in.admini %}
    <a href="{{base_path}}/ability/{{ability.ability_name}}/edit" class="btn btn-primary">Edit</a>
    <form method="post" action="{{base_path}}/ability/{{ability.ability_name}}/delete" style="display: inline-block;" class="destroy-form" data-confirm="Are you sure you want to delete this ability?">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% endif %}
</h1>
<h3>Effect:</h3>
<p>{{ability.description}}</p>

<h3>Pokémon with {{ability.ability_name}}:</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Number</th>
            <th>Species</th>
            <th>Type</th>
            <th>Abilities   </th>
            <th>Base Hp</th>
            <th>Base Attack</th>
            <th>Base Defense</th>
            <th>Base Sp.Attack</th>
            <th>Base Sp.Defense</th>
            <th>Base Speed</th>
        </tr>
    </thead>

    <tbody>
        {% for species in allSpecies %}
        <tr>
            <td>#{{species.pokedex_number}}</td>
            <td><a href="{{base_path}}/species/{{species.pokedex_number}}">{{species.species_name}}</td>
            <td>{% for type in species.types %}{{type}}<br>{% endfor %}</td>
            <td>{% for ability in species.abilities %}<a href="{{base_path}}/ability/{{ability.ability_name}}">{{ability.ability_name}}</a><br> {% endfor %}</td>
            <td>{{species.base_hp}}</td>
            <td>{{species.base_attack}}</td>
            <td>{{species.base_defense}}</td>
            <td>{{species.base_special_attack}}</td>
            <td>{{species.base_special_defense}}</td>
            <td>{{species.base_speed}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}